@import "./core/variables";

html{
    font-size: 15px;
}

/*Estilos bloque bienvenidos*/

.bienvenidos{
    background-image: url("../img/forest.png");
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.fixed-top{
    background-color: rgba(0, 0, 0, 0.60);
}

.navbar-light .navbar-brand{
    color: $blanco;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover{
    color: rgba(255, 255, 255, 0.98);
    
}

.navbar-toggler{
    font-size: 1.6rem;
    color: $blanco;
}

.navbar-toggler-icon{
    width: 1.2em;
    height: 1.2em;
    border: 0px;
}

.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-nav .nav-link{
    color: $blanco;
    text-align: center;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .active>.nav-link{
    background-color: $vSoft;
    color: $blanco;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus{
    background-color: $vSoft;
    color: $blanco;
}

.texto-bienvenido{
    color: $blanco;
    margin-top: 6rem;
}

.btn-primary{
    background-color: $green;
    border-color: $gDark;
    transition: all .5s ease;
    text-transform: upercase;
}

.btn-primary:hover{
    background-color: $vSoft;
    border-color: $violet;
}

/*Estilos bloque Quienes somos*/

.quien-soy{
    background-color: $green;
    color: $gray;
}

.img-fluid{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.poligon{
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

/*Estilos bloque Servicios*/

/*Estilos Ultimos proyectos*/

/**Estilos bloque Pie de pagina*/

/*medias querys*/